
body {
  background-color: #aee9f9;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
canvas {
  margin: auto;
  display: block;
  border: 3px solid #333;
  border-radius: 12px;
}
